body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#f6f6f6;
  width: 100%;
  overflow-x:hidden;
}
html{
  width: 100%;
}
section{
    padding:60px 20px
}
a{text-decoration:none;color:inherit}
.btn,.cta,.buy{
  background:#0a58ff;
  color:white;
  padding:12px 18px;
  display:inline-block;
  margin-top:10px;
}
.footer{
  background:#111;
  color:white;
  text-align:center;
  padding:30px;
}
