.hero{
  height:70vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#000;
  color:white;
  text-align:center;
  background-image: url("https://images.unsplash.com/photo-1535016120720-40c646be5580?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.categories{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}
.cat{
  background:white;
  padding:32px 20px;
  text-align:center;
  font-weight:bold;
  border-radius:10px;
  box-shadow:2px 2px 4px rgba(0,0,0,.1);
  transition:.25s;
}

.cat:hover{
  transform:translateY(-8px);
  cursor:pointer;
  box-shadow:4px 6px 12px rgba(0,0,0,.15);
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}
.card{
  background:white;
  padding:20px;
  text-align:center;
  border-radius: 10px;
}
.card img{
    width:100%;
    height:200px;
    object-fit:cover
}
@media(max-width:768px){
  .categories{
    grid-template-columns:repeat(2,1fr);
    gap:14px;
  }
  .cat{
    padding:22px 10px;
    font-size:14px;
  }
}