.product-top{
  display:flex;
  gap:40px;
  padding:40px;
}
.gallery{ 
    flex:1
}
.main-img{
    width:100%;
    height:400px;
    object-fit:cover
}
.thumbs img{
    width:80px;
    margin:5px;
    cursor:pointer
}
.info{
    flex:1
}
.specs{
    padding:40px
}
table{
    width:100%;
    background:white;
    border-collapse:collapse
}
td{
    padding:12px;
    border:1px solid #ddd
}
@media(max-width:768px){
  .product-top{
    flex-direction:column
    }
    .categories{
        grid-template-columns:repeat(2,1fr)
    }
}
